.card {
  border: 0.5px solid rgba(128, 128, 128, 0.1);
  width: 720px;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 20px;
  margin-bottom: 10px;
}

.card .titleHandler {
  padding: 0%;
  margin: 0%;
  max-height: 56px;
  text-overflow: ellipsis;
  overflow: hidden;
  height: fit-content;
  width: fit-content;
  position: relative;
  overflow: hidden;
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card:hover {
  background-color: #fafafa;
}

.card .img img {
  display: initial;
  width: 156px;
  height: 120px;
  background: #ffffff;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
}

.card h3 {
  padding: 0%;
  margin: 0%;
  text-overflow: ellipsis;
  position: relative;
  overflow: hidden;
  display: block;
  max-width: 500px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card p.Pbody {
  margin-top: 8px;
  max-height: 72px;
  font-size: 16px;
  color: var(--black-80E);

  text-overflow: ellipsis;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  position: relative;
  overflow: hidden;
  display: block;
  max-width: 500px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card .body {
  margin-left: 20px;
  width: fill;
}
.card .body.noImage {
  margin-left: 0;
}
.card .bottom {
  margin-top: 16px;
  display: flex;
  font-style: normal;
  align-items: center;
  font-weight: normal;
  color: var(--black-80E);
  font-size: 14px;
  line-height: 20px;
}

.card .leftBottom {
  display: flex;
  margin-right: 24px;
}

.card .rightBottom {
  font-size: 18px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5);
}
.card .rightBottom.delete {
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  color: rgba(0, 0, 0, 0.5);
}
.card .rightBottom.delete:hover {
  color: rgba(205, 30, 30, 0.8);
}
.card .rightBottom :hover {
  color: rgba(0, 0, 0, 0.8);
}

.card .vote {
  display: flex;
  margin-left: 16px;
  align-items: center;
  margin-right: 16px;
}
.card .edit {
  padding: 3px;
}

.card .upVote {
  margin-right: 8px;
  color: rgba(0, 0, 0, 0.6);
  padding: 3.67px;
}

.card .downVote {
  margin-left: 8px;
  color: rgba(0, 0, 0, 0.6);
  padding: 3.67px;
}

.card .upVote:hover,
.card .downVote:hover,
.card .pin.notPinned:hover,
.card .edit:hover {
  background-color: rgba(33, 33, 33, 0.08);
  border-radius: 4px;
}

.card .pinned {
  /* background-color: rgb(28, 104, 252); */
  background-color: #ffc700;
  border-radius: 4px;
}

.card .views {
  display: flex;
  align-items: center;
}

.card .views svg {
  margin-right: 6px;
}

.card .pin {
  padding: 2px 4px;
  margin-right: 12px;
}

.card .clickable {
  cursor: pointer;
}

.card .imgPlaceholder.draftCard-img {
  width: fit-content;
  height: fit-content;
  display: initial;

  background: #fafafa;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  padding: 5px 10px;
}

.card .skeleton-card {
  display: flex;
}

.card .skeleton-card .sk-body {
  width: 100%;
  height: 100%;
}
