.cp-header {
  width: 100%;
  background-color: transparent;
  border-bottom: 1px solid var(--dividerGrey);
}

.cp-parent,
.cp-parent-setting {
  display: block;
  height: 100vh;

  width: 100%;
  overflow-y: scroll;
}

.cp-parent-setting {
  position: absolute;
  top: 0;
  background-color: white;
}

.cp-container {
  width: 720px;
  max-width: 720px;
  margin: 0 auto;
}

.max-width {
  width: 720px;
  max-width: 720px;
}

.cp-header-mid {
  padding: 18px 20px;
}

.cp-dashboardBtn {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  background: #fafafa;
  /* Border/Border */
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  border-radius: 4px;
}

.cp-body {
  padding-top: 32px;
  /* background-color: red; */
  margin-bottom: 80px;
}
.inputTitle {
  height: var(--h1LineHeight);
  font-style: normal;
  font-weight: var(--h1FontWeight);
  font-size: var(--h1FontSize);
  line-height: var(--h1LineHeight);
  color: var(--black);
  min-height: var(--h1LineHeight);
  min-width: 720px;
  outline: none;
  border: none;
}

.inputSubTitle,
.inputSubTitle::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  min-height: 54px;
  min-width: 720px;
  overflow: hidden;
  height: 24px;
  outline: none;
  border: none;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.8);
}
.inputSubTitle {
  margin-bottom: 32px;
}

.inputTitle::placeholder {
  font-style: normal;
  font-weight: var(--h1FontWeight);
  font-size: var(--h1FontSize);
  color: var(--black);
  line-height: var(--h1LineHeight);
}

.cp-footer {
  height: 80px;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #fafafa;
  position: absolute;
}

.cp-footer-mid {
  display: flex;
  padding: 0px 20px;
  justify-content: space-between;
  align-items: center;
}

.cp-footer-mid-left p {
  color: var(--black-60E);
  display: inline;
  margin-right: 8px;
}

.cp-settingBtn {
  background-color: transparent;
  color: var(--black);
}

.cp-settingBtn:hover {
  color: var(--primaryBlue);
}

.cp-setting-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  margin-top: 104px;
  padding: 0 25px 0 20px;
}

.cp-setting-postPreview {
  margin-top: 20px;
  padding: 20px 0 0 0;
}

.cp-setting-postPreviewTitle {
  display: flex;
  align-items: center;
  height: fit-content;
}

.cp-setting-postPreviewText {
  color: var(--black-80E);
}

.cp-setting-closeBtn {
  height: 14px;
  cursor: pointer;
  width: 14px;
}

.cp-setting-postPreviewEditBtn {
  background-color: transparent;
  color: var(--black-80E);
  margin-left: 8px;
}

.cp-setting-postCard {
  /* background-color: tomato; */
  padding: 20px;
  display: flex;
  /* align-items: center; */
}

.cp-setting-imgPlaceholder {
  background: #f0f0f0;
  border-radius: 4px;
  height: fit-content;
  padding: 45px 63px;
  margin-right: 20px;
}

.cp-setting-imgUpload,
.cp-setting-imgUpload img {
  width: 156px;
  margin-right: 20px;
  border-radius: 4px;
  height: 120px;
}
.inputUploadImg {
  display: none;
}

.cp-setting-postCard-body {
  height: 100%;
  /* background-color: violet; */
  width: 100%;
}
.cp-setting-postCard-title {
  /* background-color: turquoise; */
  letter-spacing: 0.15px;
  max-height: 56px;
  margin-bottom: 8px;
}

.cp-setting-postCard-postBody {
  margin-bottom: 16px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  max-height: 72px;
  line-height: 24px;
  position: relative;
  overflow: hidden;
  display: block;
  display: -webkit-box;
  /* max-width: 200px; */
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  /* or 150% */

  /* Text/Medium Emphasis - 80% */

  color: rgba(0, 0, 0, 0.8);
}

.cp-setting-postCard-footer {
  color: var(--black-80E);
  font-size: 14px;
  line-height: 20px;
}
.cp-setting-postCard-date {
  margin-left: 24px;
  color: var(--black-60E);
}
.cp-setting-featuredPost-save,
.cp-setting-postURL-edit,
.cp-setting-postURL-save {
  background-color: transparent;
  color: var(--primaryBlue);
}
.cp-setting-featuredPost-uploadImg {
  background: #fafafa;
  /* Border/Border */

  border: 1px solid rgba(0, 0, 0, 0.12);
  color: black;
}
.cp-setting-postURL {
  padding: 24px 0px 20px 0px;
  /* background-color: tomato; */
}

.cp-setting-postURL-header {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  height: 36px;
}

.cp-setting-postURL-headerText,
.cp-setting-postURL-edit,
.cp-setting-dangerZone-headerText {
  color: var(--black-80E);
}

.cp-setting-postURL-body-editable {
  display: flex;
  align-items: center;

  margin-bottom: 12px;
}
.cp-setting-postURL-mindBridgeurl {
  color: var(--black-60E);
}
.cp-setting-postURL-slugInput {
  width: 180px;
  height: 36px;
  padding: 8px 10px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  margin-left: 8px;
}

input:focus {
  border: 1px solid var(--primaryBlue);
}
.cp-setting-postURL-displayURL {
  color: var(--black-60E);
}
.cp-setting-dangerZone {
  padding: 24px 0 0 0;
  /* background-color: tomato; */
}

.cp-setting-dangerZone-deletePostCTA {
  background-color: transparent;
  margin-top: 20px;
  border: 1px solid var(--errorRed);
  font-weight: 500;
  color: var(--errorRed);
}

.blueText {
  color: var(--primaryBlue) !important;
}

.cp-setting-postButton {
  margin-top: 20px;
}
