.sh-searchHome {
  background-color: white;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
}
.sh-mainContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 200px;
}
.sh-title {
  font-size: 58px;
  font-family: Inter;
  font-weight: bold;
  margin-bottom: 18px;
}
.sh-girl {
  position: absolute;
  height: 50vh;
  bottom: 0;
  width: auto;
}
.sr-ctaButton {
  margin-top: 22px;
}
.create-content{
  margin-top: 20px;
  color: slategray;
  cursor: pointer;
}
.create-content:hover{
  text-decoration: underline;
}
