.signUpMainContainer {
}
.logo {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  /* margin-top: 130px; */
}
.footerSignUP {
  width: 100%;
  position: fixed;
  bottom: 0;
}
.title {
  margin: 0 auto;
  padding-top: 180px;
  width: fit-content;
}
.form {
  width: 390px;
  height: fit-content;
  margin: 0 auto;
  margin-top: 16px;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  border-radius: var(--borderRadius);
  padding: 15px;
}

input {
  height: 40px;
  background: #ffffff;
  padding: 8px 10px;
  outline: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;

  box-sizing: border-box;
  border-radius: var(--borderRadius);
}

.ForumName input {
  width: 173px;
}
.ForumEmail input {
  width: 360px;
}
.formInputBox {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}
.ForumName p,
.ForumEmail p,
.FormURL p {
  margin-bottom: 8px;
  font-weight: 600;
  line-height: 20px;
}
.showPasswordCheckbox {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  cursor: pointer;
  /* background-color: lawngreen; */
  color: var(--black-80E);
}
.showPasswordCheckbox input {
  height: 15px;
  width: 15px;
  cursor: pointer;
  margin: 5px;
  border: 1px solid rbga(0, 0, 0, 0.6);
  background: rgba(0, 0, 0, 0.6);

  margin-right: 8px;
  /* background-color: lawngreen; */
}

.showPasswordCheckbox span {
  font-size: 14px;
  padding: 0;
  line-height: 15px;
  width: fit-content;

  /* background-color: red; */
}
.invalidEmailErrorSection {
  height: 18px;
  margin: 0px 0px 8px 0px;
  display: flex;
  /* align-items: center; */
}
.invalidEmailErrorSection p {
  margin-left: 7px;
}
.invalidEmailErrorSVG {
  width: 18px;
  height: 18px;
}
button {
}

.SignUpPageRedirect {
  margin: 0 auto;
  width: 390px;
  text-align: center;
  height: 20px;
  margin-top: 20px;
  white-space: nowrap;
}
.blue {
  color: #1c68fc;
}
.btn {
  cursor: pointer;
}

.underLine {
  text-decoration: underline;
}

.step1.hide {
  display: none;
}
.step2.hide {
  display: none;
}

.step3.hide {
  display: none;
}
.optionBox {
  display: none;
}
.optionBox.show {
  display: block;
  width: 360px;
  position: absolute;
  background: #eeeeee;
  margin-top: 4px;
  border: 1px solid #bebebe;
  box-sizing: border-box;
  border-radius: var(--borderRadius);
}

.item {
  padding-left: 24px;
  cursor: pointer;
}

.item:hover {
  background: #ffffff;
}

.selectorIcon {
  position: absolute;
  margin-right: 20px;
  /* left: 20px; */
  /* right: 10px; */
  /* top: 19.4%; */
  /* bottom: 13.15%; */
}

.dropDown {
  background: url("../../assets/selector_icon.svg") no-repeat scroll right;
  background-position-x: 339px;
}
.imgUpload {
  margin: 0% auto;
  width: fit-content;
}

.imgUpload input {
  display: none;
}

.imgUpload img {
  border: none;
  outline: none;
  width: 90px;
  cursor: pointer;
  margin: 0 auto;
  background: #eeeeee;
  height: 90px;
  border-radius: 100%;
}

.imgUpload div {
  white-space: nowrap;
  width: 73px;
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 14px;
}

.invalid {
  border: 1px solid #e50101;
}

@media (max-width: 1080px) {
  .mindBridgeMainContainer {
    width: 100%;
    height: fit-content;
    /* padding: 0 16px; */
  }

  .title {
    margin: 0 auto;
    margin-top: 100px;
    width: fit-content;
  }
  .form {
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    /* background-color: green; */
    margin-top: 16px;

    padding: 15px;
  }
  button {
    height: 40px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
  }
  .formInputBox {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
  }
  .ForumName input {
    width: 100%;
    max-width: 150px;
  }
  .ForumEmail {
    width: 100%;
    max-width: 311px;
  }
  .ForumEmail input {
    width: 100%;
  }
}
