@import url("https://fonts.googleapis.com/css2?family=Spectral&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --font: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif !important ;
  --postBodyfont: "Spectral", serif !important ;
  --black: #000000;
  --white: #ffffff;
  --primaryBlue: #1c68fc;
  --errorRed: #d50000;
  --grey: #fafafa;
  --yellow: #ffc700;
  --dividerGrey: #f0f0f0;
  --black-80E: rgba(0, 0, 0, 0.8);
  --black-60E: rgba(0, 0, 0, 0.6);
  --black-12E: rgba(0, 0, 0, 0.12);
  --borderRadius: 4px;
  --placeHolderFontColor: var(--black-80E);

  --btnMarginTop: 8px;
  --btnMarginBottom: 8px;
  --btnMarginLeft: 16px;
  --btnMarginRight: 16px;
  --btnBorderRadius: 4px;
  --btnDefaultBGColor: var(--primaryBlue);
  --btnDisabledBGColor: linear-gradient(0deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), #1c68fc;
  --btnFocusedBGColor: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), #1c68fc;
  --btnSelectedBGColor: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), #1c68fc;

  --h1FontWeight: 500;
  --h1FontSize: 32px;
  --h1LineHeight: 48px;
  --h1LetterSpacing: 0.4px;

  --h2FontWeight: 500;
  --h2FontSize: 24px;
  --h2LineHeight: 36px;
  --h2LetterSpacing: 0.3px;

  --h3FontWeight: 500;
  --h3FontSize: 20px;
  --h3LineHeight: 28px;
  --h3LetterSpacing: 0.3px;

  --h4FontWeight: 500;
  --h4FontSize: 16px;
  --h4LineHeight: 24px;
  --h4LetterSpacing: 0px;

  --textNormalSize: 14px;
  --textSmallSize: 12px;
  --textVerySmallSize: 10px;

  --textNormalWeight: 400;
  --textBoldWeight: 500;

  --textNormalLineHeight: 20px;
  --textSmallLineHeight: 18px;
}

html,
body {
  padding: 0%;
  margin: 0%;
  height: 100svh;
  /* overflow: hidden; */
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
input,
span,
form,
a,
p,
textarea,
div {
  font-family: var(--font);
}
.clickable {
  cursor: pointer;
}
.pp-mainBody ul,
.pp-mainBody h1,
.pp-mainBody h2,
.pp-mainBody h3,
.pp-mainBody h4,
.pp-mainBody h5,
.pp-mainBody h6,
.pp-mainBody input,
.pp-mainBody span,
.pp-mainBody a,
.pp-mainBody p,
.pp-mainBody div {
  font-family: var(--postBodyfont);
  font-size: 18px;
  color: var(--black-80E);
  line-height: 30px;
}

.mindBridgeMainContainer {
  font-family: var(--font);
  /* width: 1080px !important; */
  width: 1040px !important;

  margin: 0 auto !important;
}

h1,
h2,
h3,
h4 {
  font-style: normal;

  margin: 0%;
  padding: 0%;
  color: var(--black);
}

h1 {
  font-weight: var(--h1FontWeight);
  font-size: var(--h1FontSize);
  line-height: var(--h1LineHeight);
}

h2 {
  font-weight: var(--h2FontWeight);
  font-size: var(--h2FontSize);
  line-height: var(--h2LineHeight);
}

h3 {
  font-weight: var(--h3FontWeight);
  font-size: var(--h3FontSize);
  line-height: var(--h3LineHeight);
}

h4 {
  font-weight: var(--h4FontWeight);
  font-size: var(--h4FontSize);
  line-height: var(--h4LineHeight);
}

p {
  font-size: var(--textNormalSize);
  line-height: var(--textNormalLineHeight);
  font-weight: var(--textNormalWeight);
  margin: 0;
}

p.postBody {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

p.post-description {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;

  letter-spacing: 0.15px;
}

p.small {
  font-size: var(--textSmallSize);
  line-height: var(--textSmallLineHeight);
  font-weight: var(--textNormalWeight);
  margin: 0;
}
p.bold {
  font-weight: var(--textBoldWeight);
}

p.italic {
  font-style: italic;
}

p.underline {
  text-decoration: underline;
}

input::placeholder,
textarea::placeholder {
  color: var(--black-80E);
}

input {
  border: 1px solid var(--black-12E);
}

button {
  cursor: pointer;
  background: #1c68fc;
  color: white;
  outline: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  border: none;
}
button:active {
  color: white;
  background-color: #1653c9;
}

button:disabled {
  background: #1c68fc;
  mix-blend-mode: normal;
  opacity: 0.5;
  cursor: not-allowed;
  color: white;
}

button.white {
  cursor: pointer;
  background: transparent;
  color: var(--black);
  outline: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  border: none;
}

button.loading {
  background-color: #1653c9;
}

button.white:disabled {
  background: transparent;
  mix-blend-mode: normal;
  opacity: 0.5;

  cursor: initial;
}

button.white:active {
  background-color: transparent;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--dividerGrey);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--grey);
}
